<footer id="footer" class="footer-container">
  <div class="copyright">
    <p>© {{ currentYear }} Gymshark. {{ "footer.rights" | translate }}</p>
  </div>

  <div class="logo">
    <img src="assets/images/gymsharkLogoFooter.webp" alt="Logo" />
  </div>

  <div class="social-media">
    <a
      href="https://www.instagram.com/gymshark/"
      aria-label="Instagram"
      target="_blank"
    >
      <i class="fab fa-instagram"></i>
    </a>
    <a
      href="https://www.facebook.com/Gymshark/"
      aria-label="Facebook"
      target="_blank"
    >
      <i class="fab fa-facebook-f"></i>
    </a>
    <a
      href="https://www.tiktok.com/@gymshark"
      aria-label="Tiktok"
      target="_blank"
    >
      <i class="fab fa-tiktok"></i>
    </a>
    <a
      href="https://www.youtube.com/channel/UCma7hhYJ3bfEhZgw3xl77ww"
      aria-label="YouTube"
      target="_blank"
    >
      <i class="fab fa-youtube"></i>
    </a>
  </div>
</footer>
