.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  // Ensures modal is always centered
  .modal {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    min-width: 20rem;
    max-width: 90%;
    width: auto;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    .full-width {
      width: 100%;
      margin-bottom: 1rem;
    }

    .mat-label {
      color: black;
    }

    ::ng-deep .mat-mdc-form-field-error-wrapper {
      padding: 0 !important;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      button {
        min-width: 8rem;
        color: black;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }

    .toggle {
      margin-top: 2rem;
      margin-left: 1rem;
      text-align: center;
      span {
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}

// Mobile responsiveness
@media (max-width: 600px) {
  .modal-overlay {
    .modal {
      padding: 1.5rem;
      min-width: 80%;
    }
  }
}
