main {
  flex-grow: 1;
  padding: 0 80px;
  background-color: #fff;
}

.container-locations-products {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 0;
  box-sizing: border-box;
  margin-top: 1rem;
}

.locations {
  max-width: 60%;
}

.products {
  min-width: 30%;
  max-width: 40%;
}

@media (max-width: 768px) {
  .container-locations-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .locations {
    margin-inline: auto;
    min-width: 90%;
  }

  .products {
    margin-top: 5rem;
    margin-right: 0;
    max-width: 30%;
    min-width: 100%;
  }
}
